.carousel.carousel-slider .carousel-fixed-item.with-indicators {
    top: 10%;
}

.carousel-item>h2{
  position: absolute;
  top:40%;
  width: 100%;
  text-align: center;
}

.carousel-fixed-item{
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 5px 10px black;
  mix-blend-mode: overlay;
}

.carousel-item{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.carousel-item:nth-of-type(1){
  background-image: url(https://image.noelshack.com/fichiers/2018/37/2/1536669703-live-concert-455762-1920.jpg);
}


.carousel-item:nth-of-type(2){
  background-image: url(http://image.noelshack.com/fichiers/2018/37/2/1536669703-wave-1246560-1920.jpg);
}


.carousel-item:nth-of-type(3){
  background-image: url(http://image.noelshack.com/fichiers/2018/37/2/1536669703-jetty-768581-1920.jpg);
}

.carousel-item:nth-of-type(4){
  background-image: url();
}

.description-site{
  font-family: 'Abril Fatface', cursive;
}
