.wrapper
{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
width: 600px;
padding: 40px;
box-sizing: border-box;
background: #fff;
box-shadow: 0 10px 30px rgba(0,0,0,.5);
}

.noback
{
position: absolute;
bottom: 5%;
left: 50%;
}

.nofront
{
position: absolute;
bottom: 2%;
left: 26%;
}

.animetoi{

  animation-name: slidein;
  animation-duration:1s ;
  animation-timing-function: ease-in-out;


}


@keyframes slidein {
  0%{

    opacity: 0;
  }

  100%{
    opacity: ;
    }
}
